In [1]:
import pandas as pd


df = pd.read_csv('dataforFINDS.csv')

print(df)

X = df.drop('Buy_Product', axis=1) 
y = df['Buy_Product']


print("\nFeatures (X):")
print(X)

print("\nTarget (y):")
print(y)

       Age  Income Marital_Status Buy_Product
0    Young    High         Single         Yes
1   Middle  Medium        Married         Yes
2      Old     Low       Divorced          No
3    Young     Low         Single          No
4    Young  Medium        Married         Yes
5   Middle    High         Single         Yes
6      Old  Medium        Married          No
7    Young    High         Single         Yes
8   Middle  Medium        Married         Yes
9      Old     Low       Divorced          No
10   Young  Medium         Single         Yes
11  Middle     Low        Married          No
12     Old  Medium         Single          No
13   Young    High        Married         Yes
14  Middle    High         Single         Yes
15     Old     Low       Divorced          No
16   Young  Medium         Single         Yes
17  Middle    High        Married         Yes
18     Old  Medium         Single          No

Features (X):
       Age  Income Marital_Status
0    Young    High         Single
1   Middle  Medium        Married
2      Old     Low       Divorced
3    Young     Low         Single
4    Young  Medium        Married
5   Middle    High         Single
6      Old  Medium        Married
7    Young    High         Single
8   Middle  Medium        Married
9      Old     Low       Divorced
10   Young  Medium         Single
11  Middle     Low        Married
12     Old  Medium         Single
13   Young    High        Married
14  Middle    High         Single
15     Old     Low       Divorced
16   Young  Medium         Single
17  Middle    High        Married
18     Old  Medium         Single

Target (y):
0     Yes
1     Yes
2      No
3      No
4     Yes
5     Yes
6      No
7     Yes
8     Yes
9      No
10    Yes
11     No
12     No
13    Yes
14    Yes
15     No
16    Yes
17    Yes
18     No
Name: Buy_Product, dtype: object

In [2]:
X

       Age  Income Marital_Status
0    Young    High         Single
1   Middle  Medium        Married
2      Old     Low       Divorced
3    Young     Low         Single
4    Young  Medium        Married
5   Middle    High         Single
6      Old  Medium        Married
7    Young    High         Single
8   Middle  Medium        Married
9      Old     Low       Divorced
10   Young  Medium         Single
11  Middle     Low        Married
12     Old  Medium         Single
13   Young    High        Married
14  Middle    High         Single
15     Old     Low       Divorced
16   Young  Medium         Single
17  Middle    High        Married
18     Old  Medium         Single

In [6]:
print(X.shape[0]) #Row
print(X.shape[1]) #Column

19
3

In [7]:
for i in range(X.shape[0]):
    if y.iloc[i] == "Yes":  
        X.iloc[i,0] = "Old"

In [8]:

List = [None] * X.shape[1]

for i in range(X.shape[0]):  
    if y.iloc[i] == "Yes":  

        if all(x is None for x in List):
            List = X.iloc[i].tolist() 
        else:
            for j in range(X.shape[1]):
                if List[j] != X.iloc[i, j]:  
                    List[j] = '?'

print(List)

['Old', '?', '?']